*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/google-services.json
**/build/
functions/node_modules/
.firebase/
*-debug.log
.env*
*.keystore
*.jks
local.properties
